<div class="feedback col-md-12 row">
 <div class="user-image col-md-1" style="padding-right:55px">
   <img width="40px" src="/assets/images/userx.png"><png>
 </div>
 <div class="details">
   <div class="user-info">
    <span class="name"><a href="#">Don Lee</a><span>
    <span class="posted-date">1 year ago<span>
   <div>
   <div class="content">
     <%= content %>
    <div>
    <div class="rating">
     <i class="fa fa-thumbs-up"></i>
      <i class="fa fa-thumbs-down fa-flip-horizontal"></i>
    </div>
 </div>
</div>