<br/>
<div class="row">
  <div class="col-md-12 mood">
    <div class="error col-md-12"></div>
    <span class="col-md-6">Start by selecting your mood:</span><span class='lists'>Loading please wait...</span>
  </div>
</div>