<div class="tabbable">
  <ul class="nav nav-pills engines">
    <li>
      <a style="padding:0px;display:inline-block" data-toggle="tab" href="#search_result_google">Google</a></li>
    <li><a style="padding:0px; padding-left:8px;" data-toggle="tab" href="#search_result_yahoo">Yahoo</a></li>
    <li><a  style="padding:0px; padding-left:8px;" data-toggle="tab" href="#search_result_bing">Bing</a></li>
    <li><a  style="padding:0px; padding-left:8px;" data-toggle="tab" href="#search_result_a2ma">A2MA</a></li>
  </ul>
  <div  class="tab-content" style="margin-top:15px">
    <div id="search_result_google" class="tab-pane" > No results. </div>
    <div id="search_result_yahoo" class="tab-pane" > No results. </div>
    <div id="search_result_bing" class="tab-pane" > No results. </div>
    <div id="search_result_a2ma" class="tab-pane" > No results. </div>
  </div>
</div>
