<div class="sharing tube">
  <ul>
    <li class="full-clear">
      <a class="btn btn-info skip-button" href="#" title="Skip">
        <i class="fa fa-arrow-right"></i>
        <span class="full">Skip</span>
      </a>
    </li>
    <li class="full-clear">
      <a class="btn btn-info like-button" href="#" title="Like">
        <i class="fa fa-thumbs-up"></i>
        <span class="full">Like</span>
      </a>
    </li>
    <li>
      <a class="btn btn-info flag-button" href="#" title="Flag">
        <i class="fa fa-flag"></i>
        <span class="full">Flag</span>
      </a>
    </li>
    <li>
      <a class="btn btn-info star-button" href="#" title="Favorite">
        <i class="fa fa-star-o"></i>
        <span class="full">Favorite</span>
      </a>
    </li>
    <li class="full">
      <a class="btn btn-info twitter-button" href="#" title="Tweet">
      <i class="fa fa-twitter-square"></i>
      </a>
    </li>
    <li class="full">
      <a class="btn btn-info facebook-button" href="#" title="FB Like">
        <i class="fa fa-facebook-square"></i>
      </a>
    </li>
    <li class="full">
      <a class="btn btn-info navigation-url go_to_site" data-operation="minimize" href="" target="_blank" title="Go to Site +$0.3">Go to Site +$0.03</a>
    </li>
    <li class="full">
      <a class="btn btn-info facebook-button" href="#" title="FB Like">
        <i class="fa fa-envelope"></i>
        <span class="full">Allow advertiser to email me</span>
      </a>
    </li>
  </ul>
  <input id="ad_id" name="ad_id" type="hidden" value="" />
</div>