<div style="width:100%">
    <div class="row">
    <span class="col-md-10">
     Reward for this ad:
    </span>
    <span class="col-md-2">
     $0.24
    </span>
    </div>
    <div class="row">
     <span class="col-md-10">
     Today's Website Visit earnings:
    </span>
    <span class="col-md-2">
     $3.56
    </span>
     <span class="col-md-10">
     Today's View earnings:
    </span>
    <span class="col-md-2">
     $1.00
    </span>
    </div>
    <div class="row">
      <h3><span class="col-md-10">Today's Balance</span>
        <span class="col-md-2">$4.56</span>
      </h3>
    </div>
  </div>