.a2ma {
  font-family: Helvetica, Arial;
  font-size: 14px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
  display: none; }
  .a2ma h1, .a2ma h2, .a2ma h3, .a2ma h4, .a2ma h5, .a2ma h6 {
    font-family: Helvetica, Arial;
    font-weight: bold;
    color: #fff; }
  .a2ma h2 {
    font-size: 24px; }
  .a2ma ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999; }
  .a2ma :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1; }
  .a2ma ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1; }
  .a2ma :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999; }
  .a2ma input, .a2ma textarea {
    color: black;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #333; }
  .a2ma .survey .comments {
    width: 400px; }
  .a2ma #show-next-ad {
    background-color: #696;
    color: #fff; }
    .a2ma #show-next-ad:disabled {
      color: #666; }
    .a2ma #show-next-ad:hover {
      background-color: #527a52; }
  .a2ma button, .a2ma input[type='submit'] {
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #333;
    background-color: #fff;
    font-weight: normal;
    font-size: 16px; }
  .a2ma .button {
    background-color: #0088FF;
    border-radius: 3px;
    padding: 10px 25px;
    text-decoration: none; }
    .a2ma .button:hover {
      text-decoration: none;
      background-color: #006dcc; }
  .a2ma .media-button {
    border-radius: 3px;
    padding: 10px 25px;
    text-decoration: none; }
    .a2ma .media-button:hover {
      text-decoration: none; }
  .a2ma .facebook-button {
    background-color: #3b5998;
    margin-right: 10px; }
    .a2ma .facebook-button:hover {
      background-color: #2d4373; }
  .a2ma .twitter-button {
    background-color: #55acee; }
    .a2ma .twitter-button:hover {
      background-color: #2795e9; }
  .a2ma a {
    font-family: Helvetica, Arial; }
  .a2ma.full {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 50px;
    top: 0;
    left: 0; }
    .a2ma.full .a2ma-content {
      width: 70%; }
    .a2ma.full .a2ma-summary {
      width: 28%;
      float: right;
      padding: 0 0 0 10px; }
    .a2ma.full .hide-full {
      display: none; }
    .a2ma.full .sharing ul li {
      padding-right: 35px; }
  .a2ma dl {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    font-size: 13px; }
    .a2ma dl dt {
      clear: both;
      color: #ccc;
      float: left;
      width: 80%; }
    .a2ma dl dt.spacer {
      height: 20px; }
    .a2ma dl dd {
      color: #ccc;
      margin: 0;
      float: right;
      text-align: right; }
  .a2ma.mini {
    padding: 10px;
    width: 20%;
    position: fixed;
    right: 0;
    top: 0; }
    .a2ma.mini .hide-mini {
      display: none; }
  .a2ma .content {
    max-width: 1150px;
    margin: 0 auto;
    color: white; }
    .a2ma .content .a2ma-close-button, .a2ma .content .size-button, .a2ma .content .mute-button {
      float: right;
      cursor: pointer;
      padding: 0 0 10px 10px; }
    .a2ma .content .timestamp {
      float: right;
      padding-right: 10px; }
    .a2ma .content .title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px; }
  .a2ma .sharing {
    margin-top: 30px; }
    .a2ma .sharing ul {
      list-style-type: none;
      margin-left: 0; }
      .a2ma .sharing ul li {
        margin-top: 10px;
        text-align: left;
        padding-right: 10px;
        float: left; }
        .a2ma .sharing ul li a {
          color: white; }
    .a2ma .sharing ul.ratings {
      margin: 0;
      padding: 0;
      font-size: 1.2em; }
      .a2ma .sharing ul.ratings li {
        cursor: pointer;
        margin-top: 0;
        padding: 3px;
        padding-right: 0; }
  .a2ma .clearfix {
    clear: both; }
  .a2ma video.clickable {
    cursor: pointer; }

#user-not-signed-in {
  display: none; }

.a2ma-iframe {
  z-index: 999999999999999;
  position: fixed;
  top: 0;
  background: none transparent; }
  .a2ma-iframe.full {
    width: 100%;
    height: 100%;
    left: 0; }
  .a2ma-iframe.mini {
    height: 500px;
    right: 0;
    width: 350px; }
