<div class='container'>
  <div class='navbar navbar-white navbar-fixed-top' role="navigation">
  <!-- Navbar Header -->
  <div class='col-sm-12 col-md-12' style='padding-left:5px; padding-right:5px'>
    <div class='col-sm-3 col-md-3'>
      <div class='navbar-header'>
        <button class='navbar-toggle' data-target='#nav-collapse' data-toggle='collapse' type='button'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='/'>
          <div class='col-md-12'>
            <img class='hidden-xs' src='/assets/images/logo.png' style='width:230px; margin-right:px; margin-top:0px'>
            <img class='visible-xs' src='/assets/images/logo.png' style='width:180px; margin-right:px; margin-top:10px'>
          </div>
        </a>
      </div>
    </div>
    <div class='col-sm-8 col-md-8'>
      <div class='navbar-collapse collapse' id='nav-collapse'>
        <ul class='nav navbar-nav navbar-right top-menu'>
          <li>
            <a href='/about-us' style='padding-top:26px; padding-bottom:0px; text-decoration:none;'>About</a>
          </li>
          <li>
            <a href='/features' style='padding-top:26px; padding-bottom:0px'>Features</a>
          </li>
          <li>
            <a href='/ad-tube' style='padding-top:5px; padding-bottom:0px'>
             <img src="/assets/images/ad-tube.png" height="45px"></img>
            </a>
          </li>
          <li>
            <a class="signout" style="display:none" href='/signout' style=' padding-bottom:0px; margin-right:11px'>
              <button class='btn btn-default' type='button'>Sign out</button>
            </a>

            <a class="signin"  href='/signin' style='padding-top:20px; padding-bottom:0px; margin-right:11px'>
              <button class='btn btn-default' type='button'>Sign in</button>
            </a>
          </li>
          <li><div class="account-info">
            <span class='name' style="padding:0;"></span>
          </div></li>
        </ul>
      </div>
    </div>
   </div>
 </div>
</div>
