<script type="application/template" id="plugin-title">
  <div class='account-info'>
    <p>
      <span class='name'></span>
      <button id='signout-button'>Sign out</button>
    </p>
  </div>
</script>