    <div class="container">
        <div class="navbar navbar-white navbar-fixed-top" role="navigation" style="min-height:48px; margin-top:68px">

        <div class="col-md-4">
            <p class="hidden-xs" style="text-align:left; color: #34ac26; font-size:16px; font-weight:400">Enriching lives, one ad at a time!</p>
        </div>
        <div class="hidden-xs col-md-5">
            <h4 class="rw-sentence" style="margin-top:20px">
                <div class="rw-sentence rw-words-1">
                    <span>"Start getting paid for the ads you watch!"</span>
                </div>
            </h4>
        </div>
        <div class="hidden-xs col-md-3 pull-right" style="width:25%; margin-top:13px">
            <a href="#" style="padding-top:20px; margin-left:5px">
                <button class="btn btn-success" type="button">Sign Up to Reserve your spot</button>
            </a>
        </div>
    </div>
</div>